{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_css %}{% endblock extra_css %}
  <title>{% block title %}BASE{% endblock title %}</title>
</head>
<body>
  <header>
    <h1>
      Hello in rating movie
    </h1>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <p>
      &copy; 2025 Ruslan Bihun
    </p>
  </footer>
</body>
</html>